@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; font-family:"微软雅黑"; list-style-type:none; border:0px;}

@font-face {font-family: 'iconfont'; src: url('../font/01/iconfont.eot'); /* IE9*/ src: url('../font/01/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/01/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/01/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/01/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}

.iconfont{font-family:"iconfont" !important; font-size:14px;font-style:normal; color:rgba(255,255,255,0.65);}

@font-face {font-family: "iconfont"; src: url('../font/02/iconfont.eot'); /* IE9*/ src: url('../font/02/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/02/iconfont.woff') format('woff'), /* chrome, firefox */ url('../font/02/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/02/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}

.iconfont2 {
  font-family:"iconfont" !important;
  font-size:22px;
  padding-top:9px;
  text-align:center;
  width:57px;
  font-style:normal;
  display:block;
  color:rgba(255,255,255,0.7);

}

@font-face {font-family: 'iconfont';
    src: url('../font/03/iconfont.eot'); /* IE9*/
    src: url('../font/03/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/03/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/03/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/03/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont3{
    font-family:"iconfont" !important;
	font-style:normal;
    font-size:23px;
	
}

/*头部部分css*/
header{width:100%;}
header header{width:100%; height:40px; background:#333;}
header header .top{width:1226px; height:40px; margin:0 auto; font-size:12px; line-height:40px;  background:#333;}
/*导航css*/
header header .top nav{width:533px; float:left;}
header header .top nav a{text-decoration:none; color:#b0b0b0;}
header header .top nav a:hover{color:#fff;}
header header .top nav span{margin:0 5px; color:#424242;}
/*用户注册登录css*/
header header .top .login{width:74px;  float:right; margin-right:15px;}
header header .top .login a{text-decoration:none; color:#b0b0b0;}
header header .top .top .login a:hover{color:#fff;}
header header .top .login span{margin:0px 8px; color:#424242;}
/*购物车css*/
header header .top .shopCart{width:100px;float:right;background:#424242; padding:10px; line-height:20px; text-align:center; position:relative;}
header header .top .shopCart a{line-height:20px; text-decoration:none; display:block; float:left; margin-left:4px; color:#b0b0b0;}
header header .top .shopCart:hover{background:#fff;}
header header .top .shopCart:hover a{color:#ff6700;}
header header .top .shopCart img{float:left; margin-left:14px;}
header header .top .shopCart .cartBuy{width:320px; line-height:100px; box-shadow:0 2px 10px rgba(0,0,0,.15); background:#fff; position:absolute;top:40px; right:0; z-index:999; display:none;}

header section{width:1226px; height:100px; margin:0 auto;  background:#fff;}
header section .logo{width:235px; height:100px; background:url(../images/logo.png) no-repeat 0px 22px; float:left;}
/*导航css*/
header section ul{width:671px; height:100px; float:left;}  
header section ul.meun li{float:left; line-height:100px; margin:0 17px;} 
header section ul.meun li a{color:#333; text-decoration:none;}
header section ul.meun li a:hover{color:#ff6700;}
/*搜索栏css*/
header section .search{width:320px; height:100px; float:right; position:relative; z-index:998;}
header section .search .text{width:243px; height:48px; border:1px solid #e0e0e0; position:absolute; top:25px; left:20px; text-indent:10px;outline:none;}
header section .search .text:hover{border:1px solid #b0b0b0;}
header section .search .btn{width:52px; height:50px; border:1px solid #e0e0e0; position:absolute; top:25px; left:264px; 
									background:url(../images/search.jpg) no-repeat; cursor:pointer;}
header section .search .btn:hover{background:url(../images/search_hover.jpg) no-repeat;border:1px solid #ff6700;}
header section .search .btn.hover{border:1px solid #b0b0b0;}
/*关键词css*/
header section .search .keywords{width:100px; font-size:12px; line-height:20px; position:absolute; top:40px; right:62px; z-index:998;}
header section .search .keywords a{background:#eee; color:#757575; padding:0 4px; text-decoration:none;}
header section .search .keywords a:hover{background:#ff6700; color:#fff;}

header footer{width:100%; position:relative; }
/*展示产品价格*/
header footer .products{width:100%; height:230px; background:#fff; border-top:1px solid #e0e0e0; box-shadow:0px 3px 4px rgba(0,0,0,.18); 
							position:absolute; top:0; left:0; z-index:997; display:none;}
header footer .products ul.type{width:1226px; height:230px; margin:0 auto; background:#fff; position:absolute; top:0; left:7%;}
header footer .products ul.type li{width:160px; height:161px; padding:35px 21px 0px; float:left; text-align:center; font-size:12px;}
header footer .products ul.type li img{ border-right:1px solid #e0e0e0; padding-right:20px;}
header footer .products ul.type li p.title{width:160px; line-height:20px; color:#333; margin-top:10px;}
header footer .products ul.type li p.price{width:160px; line-height:20px; color:#ff6700;}
.block{ display:block;}

header footer ul.banner{width:1226px; height:460px; margin:0 auto; position:relative; color:#fff; font-size:15px; }
header footer ul.banner li{width:1226px; height:460px; position:absolute; top:0; left:0; z-index:900;}
header footer ul.banner .list{ width:235px; height:460px; background:rgba(0,0,0,0.5); position:absolute; top:0; left:0; z-index:902;}
header footer ul.banner .list p{width:195px; line-height:42px; color:rgba(255,255,255,0.8); padding-left:40px; position:relative; cursor:pointer;}
header footer ul.banner .list p:hover{background:#ff6700;}
header footer ul.banner .list p i{position:absolute; top:0px; right:23px;}

header footer ul.banner .list .list_con{ height:458px; width:831px; background:#fff; position:absolute; top:0px; left:235px; border:1px solid #e0e0e0; 
											box-shadow:0 8px 16px rgba(0,0,0,.18); border-left:0; color:#333; font-size:13px; display:none;}
header footer ul.banner .list .list_con ul{height:458px; width:277px; float:left;  background:#fff;}
header footer ul.banner .list .list_con ul li{width: 245px; height: 40px; padding:18px 16px; color:#ff6700; position:static; background:#fff; cursor:pointer;}
header footer ul.banner .list .list_con ul li img{float:left;}
header footer ul.banner .list .list_con ul li a{float:left; width:120px; line-height:25px; margin-left:18px;  margin-top:7px; color:#333; font-size:13px; text-decoration:none; padding:0;}
header footer ul.banner .list .list_con ul li a:hover{background:#fff; color:#ff6700;}
header footer ul.banner .list .list_con ul li span{float:left; width:58px ; line-height:23px; text-align:center; margin:7px 0 0 0px; border:1px solid #ff6700; }
header footer ul.banner .list .list_con ul li span:hover{background:#ff6700; color:#fff;}

header footer ul.banner .btn_l{width:41px; height:69px; background:url(../images/banner/icon-slides.png) -83px 0px; position:absolute; z-index:901; left:235px; top:195.5px; 
								cursor:pointer;}
header footer ul.banner .btn_l:hover{background:url(../images/banner/icon-slides.png)}
header footer ul.banner .btn_r{width:41px; height:69px; background:url(../images/banner/icon-slides.png) -124px 0px; position:absolute; z-index:901; right:0px; top:195.5px;
								cursor:pointer;}
header footer ul.banner .btn_r:hover{background:url(../images/banner/icon-slides.png) -42px 0px;}

header footer ul.banner .but{width:100px; height:20px; position:absolute; bottom:25px; right:30px; z-index:900;}
header footer ul.banner .but a{width:6px; height:6px; background:rgba(0,0,0,.4); float:left; display:block; margin:5px 5px; 
								border:2px solid rgba(255,255,255,0.3); border-radius:10px; cursor:pointer;}
header footer ul.banner .but a:hover{background:rgba(255,255,255,.4); border-color:rgba(0,0,0,.4);}
header footer ul.banner .but a.hover{background:rgba(255,255,255,.4); border-color:rgba(0,0,0,.4);}

header footer .footer{width:1226px; height:170px; margin:15px auto;}
header footer .footer ul.left{width:233px; height:170px; float:left;  background:#5f5750;}
header footer .footer ul.left li{width:57px; height:65px; float:left; cursor:pointer; padding:10px; border-right:1px solid rgba(255,255,255,.5);
	border-bottom:1px solid rgba(255,255,255,.5);}
header footer .footer ul.left li:hover .name{color:#fff;}
header footer .footer ul.left li:hover .iconfont2{color:#fff;}
header footer .footer a{
	width:316px; height:170px; margin-left:15px; background:yellow; display:block; float:left;
	transition:box-shadow 2s linear;
	-moz-transition:box-shadow .2s linear; /* Firefox 4 */
	-webkit-transition:box-shadow .2s linear; /* Safari and Chrome */
	-o-transition:box-shadow .2s linear; /* Opera */
}
header footer .footer a:nth-child(2){background:url(../images/1.jpg); }
header footer .footer a:nth-child(2):hover{
	box-shadow:0px 8px 20px rgba(0,0,0,.2);
	-moz-box-shadow:0px 8px 20px rgba(0,0,0,.2);/* Firefox 4 */
	-webkit-box-shadow:0px 8px 20x rgba(0,0,0,.2);  /* Safari and Chrome */
	-o-box-shadow:0px 8px 20px rgba(0,0,0,.2); /* Opera */
}
header footer .footer a:nth-child(3){background:url(../images/2.jpg);}
header footer .footer a:nth-child(3):hover{
	box-shadow:0px 8px 20px rgba(0,0,0,.2);
	-moz-box-shadow:0px 8px 20px rgba(0,0,0,.2);/* Firefox 4 */
	-webkit-box-shadow:0px 8px 20x rgba(0,0,0,.2);  /* Safari and Chrome */
	-o-box-shadow:0px 8px 20px rgba(0,0,0,.2); /* Opera */
}
header footer .footer a:nth-child(4){background:url(../images/3.jpg);}
header footer .footer a:nth-child(4):hover{
	box-shadow:0px 8px 20px rgba(0,0,0,.2);
	-moz-box-shadow:0px 8px 20px rgba(0,0,0,.2);/* Firefox 4 */
	-webkit-box-shadow:0px 8px 20x rgba(0,0,0,.2);  /* Safari and Chrome */
	-o-box-shadow:0px 8px 20px rgba(0,0,0,.2); /* Opera */
}
header footer .footer .name{width:57px; text-align:center; color:rgba(255,255,255,0.7); font-size:12px; padding-top:5px;}

/*中间部分css*/
section{width:100%; height:418px;}
section header{width:1226px; height:420px; margin:0 auto; /*background:red;*/ position:relative; overflow:hidden;}
section header .tit{width:1226px; height:58px;}
section header .tit h2{width:200px; font-weight:200; font-size:22px;color:#333; float:left; line-height:58px;}
section header .tit .btn{width:70px; height:25px; float:right; margin-top:22px; background:#fff;}
section header .tit .btn span{width:33px; line-height:23px; border:1px solid #e0e0e0; display:block; float:left; text-align:center; color:#999;}
section header .tit .btn span.click{color:#e0e0e0;}
section header .tit .btn span:hover{color:#ff6700;}
section header ul.lunbo{width:2480px; height:320px; position:absolute; top:58px; left:0px;}
section header ul.lunbo li{width:235px; height:280px; background:#fff;  padding-top:40px; float:left; margin-right:13px; background:#fafafa;}
section header ul.lunbo li img{width:160px; height:160px; margin:0 auto 22px; display:block;}
section header ul.lunbo li a.tit{width:234px; height:21px; line-height:21px; text-decoration:none; text-align:center; color:#212121; display:inline-block; font-size:14px;}
section header ul.lunbo li p.pro{width:234px; line-height:25px; color:#b0b0b0; font-size:12px; text-align:center;}
section header ul.lunbo li p.mon{width:234px; line-height:20px; color:#ff6700; font-size:12px; text-align:center; margin-top:5px;}


section section{width:100%; height:1500px; background:#f5f5f5;}
section section .section{width:1226px; height:692px; margin:0px auto; padding-top:50px;}
section section .section .tit{height:58px;}
section section .section .tit h2{width:200px; font-weight:200; font-size:22px;color:#333; float:left; line-height:58px;}
section section .section .tit .btn{width:95px; height:30px; float:right; margin-top:14px;}
section section .section .tit .btn a.all{color:#424242; text-decoration:none; font-size:15px;}
section section .section .tit .btn a.all:hover{color:#ff6700;}
section section .section .tit .btn a.all:hover i{background:#ff6700;}
section section .section .tit .btn a.all i{background:#b0b0b0; border-radius:23px; margin-left:8px; color:#fff;}
section section .section .yinjian{width:1226px; height:614px;}
section section .section .yinjian .pic{width:234px; height:614px; float:left;}
section section .section .yinjian .con{width:992px; height:614px; float:right;}
section section .section .yinjian .con ul li{width:234px; height:280px; float:left; margin-left:14px; font-size:14px; background:#fff; text-align:center; 								 											padding-top:20px; color:#333;  transition:all .2s linear; -o-transition:all .2s linear;
											-webkit-transition:all .2s linear; -moz-transition:all .2s linear; position:relative; }
section section .section .yinjian .con ul li:nth-child(5){margin-top:14px;}
section section .section .yinjian .con ul li:nth-child(6){margin-top:14px;}
section section .section .yinjian .con ul li:nth-child(7){margin-top:14px;}
section section .section .yinjian .con ul li:nth-child(8){margin-top:14px;}
section section .section .yinjian .con ul li a.ti{color:#333; text-decoration:none; display:block;}
section section .section .yinjian .con ul li a.ti img{width:160px; height:160px; margin: 0 auto 15px;}
section section .section .yinjian .con ul li a.ti p.ti{color:#333;}
section section .section .yinjian .con ul li .jieshao{color:#b0b0b0; font-size:12px; line-height:20px;}
section section .section .yinjian .con ul li .mon{color:#ff6700; margin-top:12px;}
section section .section .yinjian .con ul li:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1); -webkit-box-shadow:0 15px 30px rgba(0,0,0,0.1); 
													-moz-box-shadow:0 15px 30px rgba(0,0,0,0.1);-o-box-shadow:0 15px 30px rgba(0,0,0,0.1);
													transform:translate3d(0, -2px, 0); -webkit-transform:translate3d(0, -2px, 0);
													-moz-transform:translate3d(0, -2px, 0); -o-transform:translate3d(0, -2px, 0);}
section section .section .yinjian .con ul li .new{ width:60px; line-height:20px; background:#83c44e; color:#fff; font-size:12px; position:absolute; top:0px; left:87px;}



section section .section2{width:1226px; height:692px; margin:0px auto;}
section section .section2 .tit{height:58px;}
section section .section2 .tit h2{width:200px; font-weight:200; font-size:22px;color:#333; float:left; line-height:58px;}
section section .section2 .tit .btn{width:95px; height:30px; float:right; margin-top:14px;}
section section .section2 .tit .btn a.all{color:#424242; text-decoration:none; font-size:15px;}
section section .section2 .tit .btn a.all:hover{color:#ff6700;}
section section .section2 .tit .btn a.all:hover i{background:#ff6700;}
section section .section2 .tit .btn a.all i{background:#b0b0b0; border-radius:23px; margin-left:8px; color:#fff;}
section section .section2 .dapei{width:1226px; height:614px;}
section section .section2 .dapei .pic{width:234px; height:614px; float:left;}
section section .section2 .dapei .pic img{margin-bottom:10px; transition:all .2s linear; -o-transition:all .2s linear;
											-webkit-transition:all .2s linear; -moz-transition:all .2s linear;}
section section .section2 .dapei .pic img:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1); -webkit-box-shadow:0 15px 30px rgba(0,0,0,0.1); 
													-moz-box-shadow:0 15px 30px rgba(0,0,0,0.1);-o-box-shadow:0 15px 30px rgba(0,0,0,0.1);
													transform:translate3d(0, -2px, 0); -webkit-transform:translate3d(0, -2px, 0);
													-moz-transform:translate3d(0, -2px, 0); -o-transform:translate3d(0, -2px, 0);}
section section .section2 .dapei .con{width:992px; height:614px; float:right;}
section section .section2 .dapei .con ul li{width:234px; height:280px; float:left; margin-left:14px; font-size:14px; background:#fff; text-align:center; 								 											padding-top:20px; color:#333;  transition:all .2s linear; -o-transition:all .2s linear;
											-webkit-transition:all .2s linear; -moz-transition:all .2s linear; position:relative; }
section section .section2 .dapei .con ul li:nth-child(5){margin-top:14px;}
section section .section2 .dapei .con ul li:nth-child(6){margin-top:14px;}
section section .section2 .dapei .con ul li:nth-child(7){margin-top:14px;}
section section .section2 .dapei .con ul li:nth-child(8){margin-top:14px;}
section section .section2 .dapei .con ul li a.ti{color:#333; text-decoration:none; display:block;}
section section .section2 .dapei .con ul li a.ti img{width:160px; height:160px; margin: 0 auto 15px;}
section section .section2 .dapei .con ul li a.ti p.ti{color:#333; margin-top:10px;}
section section .section2 .dapei .con ul li p.mon{color:#ff6700; margin-top:3px; margin-bottom:15px;}
section section .section2 .dapei .con ul li p.pingjia{font-size:12px; color:rgb(176, 176, 176);}
section section .section2 .dapei .con ul li:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1); -webkit-box-shadow:0 15px 30px rgba(0,0,0,0.1); 
													-moz-box-shadow:0 15px 30px rgba(0,0,0,0.1);-o-box-shadow:0 15px 30px rgba(0,0,0,0.1);
													transform:translate3d(0, -2px, 0); -webkit-transform:translate3d(0, -2px, 0);
													-moz-transform:translate3d(0, -2px, 0); -o-transform:translate3d(0, -2px, 0);}
section section .section2 .dapei .con ul li .pinglun{width:234px; height:0px; background:#ff6700; position:absolute; bottom:0px; left:0px; overflow:hidden; opacity:1.0; filter:alpha(opacity=100);}
section section .section2 .dapei .con ul li .pinglun h5.pl{color:#fff; font-weight:normal; width:175px; margin:8px auto; line-height:16px;
 text-align:left;}
section section .section2 .dapei .con ul li .pinglun h5.plr{color:rgba(255,255,255,.5); font-weight:normal; width:175px; margin:8px auto; line-height:16px;
 text-align:left;}						
section section .section2 .dapei .con ul li p.new{width:60px; line-height:20px; background:#83c44e; color:#fff; font-size:12px; position:absolute; top:0px; left:87px;}
section section .section2 .dapei .con ul li p.zhe{width:60px; line-height:20px; background:#e53935; color:#fff; font-size:12px; position:absolute; top:0px; left:87px;}
section section .section2 .dapei .con ul li p.mian{width:60px; line-height:20px; background:#ffac13; color:#fff; font-size:12px; position:absolute; top:0px; left:87px;}
