<ion-view title="第一个页面" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="page1-markdown1" style="color:#000000;" class=" ">如果说，在国际互联网接入中国22年的情况下，目前所有中青年以上的网民，都可称是“网络移民”，是从线下移民到线上生活的居民；而所有的青少年网民都可称是“网络原住民”，是生来就伴随互联网一同成长、共同发展的民众；那么，我们现在更该提倡的是，无论移民还是原住民，都要自觉成为“网络公民”——在当代中国的网络社会中，既享有权利、更承担义务，既享受网络的自由便利、更维护网络的健康发展。</p>
        <div class="">
            <img src="img/bODpjFsjSBW4s1TyHBPJ_6.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/gfcJnwmyTFK4fQIdHlMa_item-1.webp" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="page1-list1" class=" ">
            <ion-item id="page1-list-item1" href="#" onclick="window.open('/page2', '_system', 'location=yes'); return false;" class="  ">习近平说网信精神：得人者兴 失人者崩</ion-item>
            <ion-item id="page1-list-item2" href="#" onclick="window.open('http://www.zhinengshe.com', '_system', 'location=yes'); return false;" class="  ">李克强如何重塑民间投资信心</ion-item>
            <ion-item id="page1-list-item3" href="#" onclick="window.open('http://www.taobao.com', '_system', 'location=yes'); return false;" class="  ">苹果10亿美元投资滴滴 创新匮乏还是野心助力</ion-item>
        </ion-list>
        <div id="page1-button-bar1" class=" button-bar ">
            <button id="page1-button1" class=" button button-balanced  button-block ">1</button>
            <button id="page1-button2" class=" button button-positive  button-block ">2</button>
            <button id="page1-button3" class=" button button-positive  button-block ">3</button>
        </div>
    </ion-content>
</ion-view>