<ion-view title="Page" id="page1">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="pass">
                <span class="input-label">pass</span>
                <input type="password" placeholder="请填写密码">
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="花瓣裙子">
            </label>
            <ion-toggle toggle-class="toggle-positive">是否怀孕</ion-toggle>
        </form>
        <button id="page-button1" class="button button-positive  button-block">提交</button>
    </ion-content>
</ion-view>